<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnMo7Fv-RWnIIUjHKk1UwAdAQiQSaOuLo</string>
	<key>GCM_SENDER_ID</key>
	<string>337553111898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillpayWorkers</string>
	<key>PROJECT_ID</key>
	<string>skillpay-36c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>skillpay-36c4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337553111898:ios:fd31581437a1a7007fd163</string>
</dict>
</plist>